<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890213074063-4brbedjdp4707qgum7q2pa0lh3e3qdo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890213074063-4brbedjdp4707qgum7q2pa0lh3e3qdo0</string>
	<key>API_KEY</key>
	<string>AIzaSyDyTk_wGxyvzC33b5Za58J4gbr_xAsVj9w</string>
	<key>GCM_SENDER_ID</key>
	<string>890213074063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ba39c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ba39c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890213074063:ios:2430b6ecdb133579859cfa</string>
</dict>
</plist>